<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">

  <!-- Mailchimp start -->
  <!-- <link rel="stylesheet" href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" type="text/css"> -->

  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/268029c02e2e3784276194468/b24577bdc869a4a3d758406d7.js");</script>
  <!-- Mailchimp end -->

  <link rel="stylesheet" href="/main.css" type="text/css" />

</head>
</head>
<body>
{{ content }}
</body>
</html>