<!DOCTYPE html>
<html>
<head>
  <title>Fourth Position</title>
  <meta charset="utf-8" />
  <meta property="og:title" content="Fourth Posiiton" />
  <meta property="og:type" content="music.musician" />
  <meta property="og:url" content="https://www.fourthposition.com" />
  <meta property="og:image" content="https://www.fourthposition.com/images/fp_logo_web.jpg" />


  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/main.css" type="text/css" />
</head>
<body>
{{ content }}
</body>
</html>